.avatarInfo {
	float: left;
	margin-right: 10px;
}

.selectedTracksInfo {
	font-weight: bold;
	float: right;
}

.connectionStatus {
	/* Avoid flickering effect */
	margin-top: 40px;
}

.ng-table-rowselected tr {
    cursor: pointer;
}

tr.active > td {
	font-style: italic;
}