<!DOCTYPE html>
<html ng-app="deezerImportApp">

<head>
	<meta charset="utf-8">
	<title>Deezer Importer</title>
	<script src="lib/angular.js"></script>
	<script src="lib/angular-resource.js"></script>
	<script src="lib/lastfm.api.js"></script>
	<script src="lib/md5.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>
</head>

<body>

	<div id="deezerDiv" ng-controller="DeezerController">
		<h1>Deezer stuff</h1>
		<p>
		Deezer user <input ng-model="userName" />
		<input type="button" value="Search" ng-click="searchUser();" /> <br />
		<!-- Retrieve token from http://developers.deezer.com/api/explorer -->
		Deezer access token <input ng-model="accessToken" />
		</p>

		<p>
			Id : <span>{{deezerUser.id}}</span> <br />
			Name : <span>{{deezerUser.name}}</span> <br />
			<img ng-src="{{deezerUser.picture}}" />

			<h2>History</h2>
			<table>
				<thead>
					<tr>
						<td>Date</td>
						<td>Title</td>
						<td>Artist</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="track in deezerTracks">
						<td>{{track.timestamp * 1000 | date : 'dd/MM/yy HH:mm'}}</td>
						<td>{{track.title}}</td>
						<td>{{track.artist.name}}</td>
					</tr>
				</tbody>
			</table>
		</p>
	</div>
	
	<div id="lastfmDiv" ng-controller="LastfmController">
		<h1>Last.fm stuff</h1>
		<p>
			Last.fm user <input ng-model="userName" />
			<input type="button" value="Search" ng-click="searchUser();" /> <br />
			Last.fm access token <span>{{accessToken}}</span>
			<a ng-show="accessToken" ng-href="http://www.last.fm/api/auth/?api_key={{api_key}}&token={{accessToken}}" target="_blank">Validate</a>
			
			<input type="button" value="Get session" ng-click="getSession();" />
		</p>
		
		<p ng-show="session.key">
			Connected to last.fm : <span>{{session.key}}</span>
			<input type="button" value="Send tracks" ng-click="sendTracks();" />
		</p>
		
		<p>
			Id : <span>{{lastfmUser.id}}</span> <br />
			Name : <span>{{lastfmUser.name}}</span> <br />
			<!-- Third image is the large one -->
			<img ng-src="{{lastfmUser.image[3]['#text']}}" />
		</p>
	</div>

</body>
</html>
